*,
*::before,
*::after {
    box-sizing: border-box;
}
:hover,
:focus {
    transition-property: color,background-color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    }
    header {
        background-color: #FFF;
    }
    .page-header {
        border-bottom: 1px solid #e7e9fc;
        box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 1px 6px rgba(46, 47, 66, 0.08);;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        margin: 0;
    }
    svg {
        width: 64;
        height: 64;
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    button {
        font-family: "Roboto", sans-serif;
    }
    .nav-link {
        color: inherit;
        text-decoration: none;
        padding: 27px 0;
        position: relative;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .nav-link.current {
        color: #404bbf;
    }
    .nav-link.current:after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -1px;
        height: 4px;
        width: 100%;
        background-color: #404BBF;
        border-radius: 2px;
        
    }
    img {
        display: block;
        max-width: 100%;
        height: auto;
    }
    .container {
        width: 1158px;
        padding: 0px 15px;
        margin: 0 auto;
    }
    .page-header {
        
    }
    .header-container {
        display: flex;
    }
    .section {
        padding: 120px 0;
        width: 100%;
    }
    .logo-dark {
        color: #4d5ae5 ;
        font-family: Raleway, sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17; 
        letter-spacing: 0.03em;
        text-transform: uppercase;
        text-decoration: none;
        margin-right: 76px;
     }

    .span-dark {
    color:#2e2f42;
    text-decoration: none;
    }
    .header-nav {
        display: flex;
        gap: 76px;
        margin-right: auto;
        padding: 24px 0;
        align-items: center;
    }
    .page-nav {
        color: #2e2f42;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        display: flex;
        gap: 40px;
    }

    .contacts {
        display: flex;
        gap: 40px;
        padding: 24px 0;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .page-nav :hover, 
    .page-nav :focus {
        color: #404BBF;
    }
    .contacts .link {
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        text-decoration: none;
        padding: 24px 0;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .contacts :hover, 
    .contacts :focus {
        color: #404BBF;
    }
    address {
        font-style: normal;
    }
    .title-page {
        background-color:#2e2f42;
        padding: 188px 0;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
        url(../images/office.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        margin: 0 auto;
    }
    .title-container {
        display: block;
        padding: 68px 0;
    }
    .title-text {
        color:#fff;
        font-size: 56px;
        line-height: 1.07;
        text-align: center;
        letter-spacing: 0.02em;
        margin: 0 auto;
        max-width: 496px;
    }
    .button {
        color: #fff;    
        background-color:#4D5AE5 ;
        cursor: pointer;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        display: block;
        padding: 16px 32px;
        margin: 0 auto;
        border-radius: 4px;
        min-width: 169px;
        height: 56px;
        border: none;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .button:hover,
    .button:focus {
        background-color: #404BBF;
    }
    .visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
    }
 .hero-page h3 {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2; 
    letter-spacing: 0.02em;
 }
.hero-page p {
    color: #434455;
    font-size: 16px;
    line-height: 1.5; 
    letter-spacing: 0.02em;
}
.hero-list {
    display: flex;
    gap: 24px;
    justify-content: center;
}
.hero-title {
    margin: 8px 0;
}
.hero-list-item {
    width: calc((100% - 72px) / 4);
}
.hero-icon-con {
    display: flex;
    padding: 0;
    border: 1px solid #8E8F99;
    background-color: #F4F4FD;
    width: 264px;
    height: 112px;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
}
.hero-icon {
    }
.hero-list p {
    padding-top: 8px;
}
.team-section {
    background-color: #F4F4FD;
}
.team-container ul {
    display: flex;
    gap: 24px;
    text-align: center
}
.team-li {
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.team-li h3 {
    padding-bottom: 8px;
}
.team-ul-text {
    padding: 32px 0;
}
.team-section h3 {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2; /* 120% */
    letter-spacing: 0.02em;
}
.team-section p {
    color: #434455;
    font-size: 16px;
    line-height: 1.5; 
    letter-spacing: 0.02em;
}
.team {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}
.team-li {
    background-color: #FFFFFF;
}

.icon-link:hover,
.icon-link:focus {
    background-color: #404BBF;
}
.icon-list {
    display: flex;
    gap: 24px;
    justify-content: center;
}
.icon-link {
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-li-icon {
    width: 40px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-icon {
    fill: #f4f4fd;
}
.team-title {
    color:#2e2f42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}
.team-text {
    font-size: 16px;
}
.portfolio {
    font-size: 36px;
    line-height: 1.11; 
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
    text-align: center;
}
.portfolio-list-item {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card-img {
    position: relative;
    overflow: hidden;

}
.portfolio-list-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-list-item:hover .overlay {
    transform: translatey(0);
}
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 48px;
}
.overlay {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #F4F4FD;
    background-color: #4D5AE5;
    transform: translatey(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 40px 32px;
}

.portfolio-list-text {
    padding: 32px 16px;
    border: 1px solid  #E7E9FC;
    border-top: none;
}
.portfolio-title {
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2; 
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}
.portfolio-text {
    color: #434455;
    font-size: 16px;
    line-height: 1.5; 
    letter-spacing: 0.02em;
}
footer {
    background-color:#2E2F42
}
.logo-light {
    color:#4d5ae5;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17; 
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 16px;
}
.span-light {
    color: #F4F4FD;
}
.page-footer {
    padding: 100px 0;
}
.footer-container {
    display: flex;
    align-items: baseline;
}
.footer-logo {
    margin-right: 120px;
}
.footer-text {
    color:#F4F4FD ;
    font-size: 16px;
    line-height: 1.5; 
    letter-spacing: 0.02em;
    max-width: 264px;
}
.footer-social {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}
.footer-icon-list {
    display: flex;
    gap: 16px;
}
.footer-icon-item {
    width: 40px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-media {
    margin-right: 80px;
}
.footer-subscribe {

}
.footer-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
}
.footer-input {
    width: 264px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    background-color: transparent;
    padding: 8px 16px;
    color: #FFF;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 2em;
    /* 200% */
    letter-spacing: 0.48px;
}
.subsc-txt {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
     letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}
.footer-btn {
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    display: flex;
    min-width: 165px;
    height: 40px;
    padding: 8px 24px;
    text-align: center;
    border-radius: 4px;
    background-color: #4D5AE5;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5em;
    /* 150% */
    letter-spacing: 0.04em;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-top: auto;
    gap: 16px;
}
.footer-sbc-icon {
    fill: #f4f4fd;
    margin-left: 16px;
}
.footer-link:hover,
.footer-link:focus {
    background-color: #31d0aa;
}
.footer-icon {
    fill: #f4f4fd;
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 408px;
    min-height: 584px;
    padding: 24px;
    border-radius: 4px;
    background-color: #FCFCFC;
    padding: 72px 24px 24px 24px;
}
.backdrop {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
.modal-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    cursor: pointer;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: #2E2F42;
    transition: color 250ms ease, transform 250ms ease-in-out;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover,
.modal-btn:focus {
    fill: #FFFFFF;
    background-color: #404BBF;
    border: none;
}
.form-title {
    width: 360px;
    margin-bottom: 16px;
    color: #2E2F42;
        text-align: center;
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5;
        /* 150% */
        letter-spacing: 0.02em;
}
.form-wrapper {
    margin-bottom: 8px;
}
.form-wrapper-comment {
    margin-bottom: 16px;
}
.form-label {
    display: block;
    margin-bottom: 4px;
    color: #8E8F99;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
}
.form-field {
    position: relative;
}
.form-input {
    width: 100%;
    height: 40px;
    background-color: transparent;
    outline: transparent;
    padding-left: 38px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus  {
    border-color: #4D5AE5;
}
.form-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-field .form-input:focus+.form-icon {
    fill: #4D5AE5;
}
.form-comment {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4,
        0,
        0.2,
        1);
}
.form-comment:focus {
    border-color: #4D5AE5;
}
.privacy {
    margin-bottom: 24px;
}
.form-privacy {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8E8F99;
}
.form-privacy-checkbox {
    display: inline-flex;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    cursor: pointer;
}
.privacy-accept-icn {
    opacity: 0;
    transform: scale(0.3);
    transition: opacity 250ms cubic-bezier(0.8, 0, 0, 1.8) 150ms,
    transform 300ms cubic-bezier(0.8, 0, 0, 1.8) 150ms;
}
.checkbox + .form-privacy > .form-privacy-checkbox {
    background-color: #404bbf;
    fill: transparent;
    border: 1px solid rgba(46, 47, 66, 0.4);
}
.checkbox:checked + .form-privacy > .form-privacy-checkbox {
    border: none;
    fill: #F4F4FD;
}

.checkbox:checked + .form-privacy-checkbox > .privacy-accept-icn {
    opacity: 1;
    transform: scale(1);
}
.form-privacy-link {
    color: #4D5AE5;
}
.form-btn {
    display: block;
    min-width: 169px;
    height: 56px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}